.product{
    padding: 2rem 2.4rem;
    .company-name {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 700;
        color: $orange;
        letter-spacing: 0.18rem;

    }


    .title{
        color: $Very-vark-blue;
        font-size: 2.8rem;
        font-weight: 700;
        margin-top: 1.5rem;
        line-height: 120%;
    }

    .description {
        font-size: 1.5rem;
        color: $Dark-grayish-blue;
        line-height: 165%;
        margin-top: 1.6rem;
    }

    .price-wrapper{
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        align-items: center;
        justify-content: space-between;
    }

    .group{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        
    }

    .price{
        font-size: 3rem;
        font-weight: 700;

    }

    .discount{
        margin-left: 1.4rem;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: $orange;
        background-color: $pale-orange;
        border-radius: 0.5rem;
        
    }

    .old-price{
        font-size: 1.7rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
        color: $Dark-grayish-blue;
        text-decoration: line-through;
    }

    
    .counter-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $Light-grayish-blue;
        margin-top: 2rem;
        border-radius: 1rem;
        padding: 1.2rem 2.4rem;
    }

    .counter{
        font-size: 1.5rem;
        font-weight: 700;
    }

    #btnPlus, #btnMinus{
        cursor: pointer;
        padding: 1rem;
        border-radius: 0.5rem;

        &:hover{
            opacity: 0.5;
            background-color: $pale-orange;
        }
    }

    .btn{
        background-color: $orange;
        color: $White;

        margin-top: 1.5rem;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        font-size: 1.55rem;
        font-weight: 700;
        border-radius: 1rem;

        padding: 1.9rem;

        img{
            height: 1.5rem;
        }

        box-shadow: 0px 20px 30px 0px;
        cursor: pointer;





    }

}